In [1]:
#This is to select additional meaningful dataset from external source Kaggle
#Memotion Dataset 7k: https://www.kaggle.com/williamscott701/memotion-dataset-7k
#The selected dataset will be incorporated to "img" folder & "tain.jsonl" file of the original hateful_memes dataset used during fine-tuning

In [2]:
import pandas as pd
import numpy as np
import os

labels=pd.read_excel("C:\\Users\\yshen\\Documents\\Georgia Tech\\4\\Deep Learning\\p\\Memotion\\archive\\memotion_dataset_7k\\labels.xlsx")
reference=pd.read_excel("C:\\Users\\yshen\\Documents\\Georgia Tech\\4\\Deep Learning\\p\\Memotion\\archive\\memotion_dataset_7k\\reference.xlsx")

In [3]:
labels.head()

,Unnamed: 0,image_name,text_ocr,text_corrected,humour,sarcasm,offensive,motivational,overall_sentiment
0,0,image_1.jpg,LOOK THERE MY FRIEND LIGHTYEAR NOW ALL SOHALIK...,LOOK THERE MY FRIEND LIGHTYEAR NOW ALL SOHALIK...,hilarious,general,not_offensive,not_motivational,very_positive
1,1,image_2.jpeg,The best of #10 YearChallenge! Completed in le...,The best of #10 YearChallenge! Completed in le...,not_funny,general,not_offensive,motivational,very_positive
2,2,image_3.JPG,Sam Thorne @Strippin ( Follow Follow Saw every...,Sam Thorne @Strippin ( Follow Follow Saw every...,very_funny,not_sarcastic,not_offensive,not_motivational,positive
3,3,image_4.png,10 Year Challenge - Sweet Dee Edition,10 Year Challenge - Sweet Dee Edition,very_funny,twisted_meaning,very_offensive,motivational,positive
4,4,image_5.png,10 YEAR CHALLENGE WITH NO FILTER 47 Hilarious ...,10 YEAR CHALLENGE WITH NO FILTER 47 Hilarious ...,hilarious,very_twisted,very_offensive,not_motivational,neutral

In [4]:
reference.head()

,Unnamed: 0,original_name,image_url,image_name
0,0,10_year_2r94rv.jpg,https://i.imgflip.com/2r94rv.jpg,image_1.jpg
1,1,10_year_10-year-challenge_1547788782.jpeg,https://spiderimg.amarujala.com/assets/images/...,image_2.jpeg
2,2,10_year_10yearchallenge-5c75f8b946e0fb0001edc7...,https://www.lifewire.com/thmb/8wNfd94_meE9X2cp...,image_3.JPG
3,3,10_year_10-year-challenge-sweet-dee-edition-40...,https://pics.conservativememes.com/10-year-cha...,image_4.png
4,4,10_year_10-year-challenge-with-no-filter-47-hi...,https://pics.me.me/10-year-challenge-with-no-f...,image_5.png

In [5]:
labels.groupby(['offensive'],as_index=False)['offensive'].agg({'Agg':'count'})

           offensive   Agg
0  hateful_offensive   221
1      not_offensive  2713
2             slight  2592
3     very_offensive  1466

In [6]:
labels.groupby(['sarcasm'],as_index=False)['sarcasm'].agg({'Agg':'count'})

           sarcasm   Agg
0          general  3507
1    not_sarcastic  1544
2  twisted_meaning  1547
3     very_twisted   394

In [7]:
labels.groupby(['overall_sentiment'],as_index=False)['overall_sentiment'].agg({'Agg':'count'})

  overall_sentiment   Agg
0          negative   480
1           neutral  2201
2          positive  3127
3     very_negative   151
4     very_positive  1033

In [86]:
selected=labels[(labels['offensive']=='hateful_offensive')|(labels['overall_sentiment']=='very_negative')]

In [69]:
selected=selected[['image_name','text_corrected']]

In [70]:
selected.shape

(343, 2)

In [71]:
selected['label']=1

In [72]:
selected['img']='pending'

for i in selected.index.values:

    if selected['image_name'][i][-3::]=="png":
        selected['img'][i]="img/"+selected['image_name'][i]
    elif selected['image_name'][i][-3::]=="jpg":
        selected['img'][i]="img/"+selected['image_name'][i][:-3]+"png"
    elif selected['image_name'][i][-3::]=="JPG":
        selected['img'][i]="img/"+selected['image_name'][i][:-3]+"png"
    else:
        selected['img'][i]="img/"+selected['image_name'][i][:-4]+"png"

C:\Users\Public\Documents\Wondershare\CreatorTemp/ipykernel_14280/4020979766.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected['img'][i]="img/"+selected['image_name'][i][:-3]+"png"
C:\Users\Public\Documents\Wondershare\CreatorTemp/ipykernel_14280/4020979766.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected['img'][i]="img/"+selected['image_name'][i]
C:\Users\Public\Documents\Wondershare\CreatorTemp/ipykernel_14280/4020979766.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected['img'][i]="img/"+selected['image_name'][i][:-3]+"png"
C:\Users\Public\Documents\Wondershare\CreatorTemp/ipykernel_14280/4020979766.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected['img'][i]="img/"+selected['image_name'][i][:-4]+"png"

In [75]:
selected['id']=pd.Series(np.arange(98766,98766+len(selected)), index=selected.index)

In [76]:
selected=selected.rename(columns={"text_corrected": "text"})

In [77]:
selected=selected[['id','img','label','text']]
selected.head()

,id,img,label,text
14,98766,img/image_15.png,1,Anti-vaxx kids when they see someone doing the...
59,98767,img/image_60.png,1,POTATO CHIPS TORTILLA CHIPS MARVEL CAPTAIN AME...
91,98768,img/image_92.png,1,YOU MEAN TO TELL ME SPOONS DON'T ACTUALLY SOUN...
137,98769,img/image_138.png,1,IT'S YOUR BIRTHDAY.. OR ANNUAL DECLARATION OF ...
148,98770,img/image_149.png,1,S6E12 I can't give this suit back. Ted I glow...

In [78]:
initial_train=pd.read_json("C:\\Users\\yshen\\Documents\\Georgia Tech\\4\\Deep Learning\\p\\hateful_memes\\train.jsonl",lines=True)

In [79]:
initial_train=initial_train.sort_values(['id'],ascending=0)

In [80]:
initial_train.head()

,id,img,label,text
565,98764,img/98764.png,0,african kids dancing and celebrating
7326,98762,img/98762.png,0,child in poverty with empty water jug
1789,98756,img/98756.png,1,this dude wants to use the same restroom as yo...
4994,98754,img/98754.png,1,400 years of slavery rape and murder but now s...
5894,98752,img/98752.png,0,shut up ontario

In [81]:
aug_train=pd.concat([initial_train,selected])

In [82]:
aug_train=aug_train.sort_values(['id'],ascending=0)

In [83]:
aug_train.head()

,id,img,label,text
6984,99108,img/image_6985.png,1,YOU'RE THE BEST AROUND. NOTHING'S EVER GONNA K...
6961,99107,img/image_6962.png,1,NIGHTMARES Are made of this.
6935,99106,img/image_6936.png,1,. - DC OR MARVEL? MEME MADE BY THE FB PG DC/MA...
6915,99105,img/image_6916.png,1,EUROPE We have to cancel this match Snowing is...
6913,99104,img/image_6914.png,1,DAD. WHAT'S TAKING THE GAME WINNING SHOT? I DO...

In [84]:
aug_train.shape

(8843, 4)

In [85]:
aug_train.to_json('C:\\Users\\yshen\\Documents\\Georgia Tech\\4\\Deep Learning\\p\\train.jsonl', orient='records', lines=True)

In [87]:
import shutil

In [88]:
names=selected['image_name'].to_list()

In [89]:
for name in names:
    a=shutil.copy('C:\\Users\\yshen\\Documents\\Georgia Tech\\4\\Deep Learning\\p\\Memotion\\archive\\memotion_dataset_7k\\images\\'+name, 'C:\\Users\\yshen\\Documents\\Georgia Tech\\4\\Deep Learning\\p\\add')

In [90]:
from PIL import Image

In [91]:
for name in names:
    
    if name[-3::]=='jpg':
    
        im = Image.open(r'C:\\Users\\yshen\\Documents\\Georgia Tech\\4\\Deep Learning\\p\\add\\'+name)
        im.save(r'C:\\Users\\yshen\\Documents\\Georgia Tech\\4\\Deep Learning\\p\\add_png\\'+name[:-3]+"png")
        
    elif name[-3::]=='JPG':
        im = Image.open(r'C:\\Users\\yshen\\Documents\\Georgia Tech\\4\\Deep Learning\\p\\add\\'+name)
        im.save(r'C:\\Users\\yshen\\Documents\\Georgia Tech\\4\\Deep Learning\\p\\add_png\\'+name[:-3]+"png")
        
    elif name[-4::]=='jpeg':
        im = Image.open(r'C:\\Users\\yshen\\Documents\\Georgia Tech\\4\\Deep Learning\\p\\add\\'+name)
        im.save(r'C:\\Users\\yshen\\Documents\\Georgia Tech\\4\\Deep Learning\\p\\add_png\\'+name[:-4]+'png')
    
    else:
        im = Image.open(r'C:\\Users\\yshen\\Documents\\Georgia Tech\\4\\Deep Learning\\p\\add\\'+name)
        im.save(r'C:\\Users\\yshen\\Documents\\Georgia Tech\\4\\Deep Learning\\p\\add_png\\'+name)